html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #191765;
  background-image: url(images/mobile/Ellipse.svg);
  background-repeat: no-repeat;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(images/home/circle\ 2\ header.svg);
    background-repeat: no-repeat;
    background-position: 100% 5%;
    background-size: 20%;
  }

  .headline {
    background-image: url(images/home/circle\ 1\ header.svg);
    background-repeat: no-repeat;
    background-size: 20%;
  }
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3%;
  list-style: none;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .head {
    justify-content: space-around;
  }
}

.name {
  font-family: roboto, sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .name {
    margin-right: 50%;
  }
}

.menu-about,
.menu-contact,
.menu-mail-icon,
.menu-portfolio {
  display: none;
}

@media (min-width: 768px) {
  .menu-about,
  .menu-contact,
  .menu-mail-icon,
  .menu-portfolio {
    display: inherit;
    font-family: roboto, sans-serif;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }

  .mobile-menu-icon {
    display: none;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  margin-top: 1em;
}

.greeting {
  font-family: roboto, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #7d73fc;
  margin: 2em 0 0.5em 0;
}

.title {
  font-family: roboto, sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
  color: #edecff;
}

.title-description {
  font-family: roboto, sans-serif;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #c8c8d4;
  max-width: 90%;
}

@media (min-width: 768px) {
  .title-description {
    padding-left: 25%;
    padding-right: 25%;
  }
}

hr {
  background-image: url(images/home/Vector\ 4.svg);
  width: 70%;
  color: #646369;
}

.technologies {
  background-image: url(images/mobile/secondEllipse.svg);
  background-repeat: no-repeat;
  background-position: 18rem 0;
}

.tech {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 0;
}

@media (min-width: 768px) {
  .technologies {
    background-image: none;
  }

  .tech {
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 0 25%;
  }
}

.tech-list {
  list-style: none;
  color: #fff;
  font-family: roboto, sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}

.frameworks {
  padding-left: 0;
}

@media (min-width: 768px) {
  .frameworks {
    padding-left: 2rem;
  }
}

.tech-title {
  color: #9390ff;
  font-size: 1.1em;
  font-weight: 700;
  margin-top: 1.5rem;
}

.tech-item {
  margin: 1rem 0 1rem;
}

.social-top {
  margin-bottom: 3rem;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 5%;
  color: #babac5;
}

.social-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.social-item-p-right,
.social-item-p-left {
  margin: 0;
}

.first-arrow,
.second-arrow,
.first-work,
.second-work {
  font-family: roboto, sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  color: #a2a3ae;
}

.first-work,
.first-arrow {
  display: none;
}

.second-work {
  position: absolute;
  margin-top: 5rem;
}

.second-arrow {
  position: absolute;
  margin-top: 5rem;
  margin-right: 5em;
}

@media (min-width: 768px) {
  .first-work,
  .first-arrow {
    display: inherit;
    margin: 0;
  }

  .first-work {
    margin-left: 10%;
  }

  .first-arrow {
    margin-left: 1em;
    margin-right: 25%;
  }

  .second-work,
  .second-arrow {
    position: relative;
    margin-top: 0%;
    margin-right: 0%;
  }

  .second-work {
    margin-right: 10%;
  }

  .second-arrow {
    margin-left: 25%;
  }
}

.work-section {
  display: flex;
  flex-direction: column;
}

.work-header {
  width: 70%;
  font-family: roboto, sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: 500;
  color: #9390ff;
  margin-top: 8rem;
  padding-left: 10%;
  text-transform: uppercase;
}

.work-line {
  width: 80%;
  align-self: center;
  margin-bottom: 2rem;
  color: #646369;
}

.projects {
  display: grid;
}

.project-image {
  order: -1;
  width: 20rem;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

.project-info {
  width: 85%;
}

.project-title {
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  font-family: roboto, sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 500;
  color: #fff;
}

.project-description {
  font-family: roboto, sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;
  text-align: left;
  color: #dcdce8;
  padding-left: 1.5rem;
}

.project-langs {
  padding: 0 1.5rem;
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

.langs-used {
  font-family: roboto, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  text-align: left;
  color: #fff;
}

.project-button {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.5em;
  color: #fff;
  background-color: #7d73fc;
  border: none;
  font-size: 0.8em;
}

@media (min-width: 768px) {
  .projects {
    padding: 0 5%;
  }

  .first-project,
  .third-project {
    grid-template-columns: 65% 35%;
    grid-column-gap: 2em;
    font-size: 10px;
  }

  .second-project,
  .forth-project {
    grid-template-columns: 35% 65%;
    grid-column-gap: 0;
    font-size: 10px;
  }

  .project-info {
    padding-top: 0%;
    padding-bottom: 10%;
  }
}

.project-button:enabled {
  background-color: #7d73fc;
}

.project-button:active {
  background-color: #5e42d7;
}

.project-button:hover {
  box-shadow: 0 1rem 2rem #7d73fc7a;
}

@media (min-width: 768px) {
  .project-image {
    width: 100%;
  }

  .project-2-img,
  .project-4-img {
    order: 0;
  }
}

.first-project {
  background-image: url(images/mobile/first.svg);
  background-repeat: no-repeat;
  background-position: 0 3rem;
}

.second-project {
  background-image: url(images/mobile/second.svg);
  background-repeat: no-repeat;
  background-position: 14rem 6rem;
}

.third-project {
  background-image: url(images/mobile/third.svg);
  background-repeat: no-repeat;
  background-position: 0 11rem;
}

.forth-project {
  background-image: url(images/mobile/forth.svg);
  background-repeat: no-repeat;
  background-position: 12rem 12rem;
}

@media (min-width: 768px) {
  .first-project {
    background-image: url(images/home/Ellipse-myRecentWork.svg);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 20%;
  }

  .second-project {
    background-image: url(images/home/EllipseSecondProject.svg);
    background-repeat: no-repeat;
    background-position: 110% 100%;
    background-size: 20%;
  }

  .third-project {
    background-image: url(images/home/EllipseThirdLeft.svg);
    background-repeat: no-repeat;
    background-position: 0 80%;
    background-size: 30%;
  }

  .forth-project {
    background-image: url(images/home/EllipseForthRight.svg);
    background-repeat: no-repeat;
    background-position: 100% -20%;
    background-size: 30%;
  }
}

.contact {
  text-align: center;
}

.contact h1 {
  color: #9390ff;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.2em;
  margin-top: 6rem;
}

.contact p {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  margin: 0 1.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .contact p {
    padding: 0 20%;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}

#name,
#mail {
  margin: 0 1.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

#message {
  padding: 1rem;
  padding-bottom: 7rem;
  margin: 0 1.5rem;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  #name,
  #mail,
  #message {
    margin-left: 25%;
    margin-right: 25%;
  }
}

footer {
  text-align: center;
}

.form-button {
  padding: 1rem;
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 1em;
  background: #7d73fc;
  color: #edecff;
  align-self: center;
  border: none;
  margin-bottom: 4em;
}

.footer-email {
  font-family: roboto, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #ebebff;
}
